//
// Challenge description:
//
// Use one `@each` loop to generate the two class selectors `.character-darth`
// and `.character-obiwan` out of the $characters map and set the color,
// background-color and background-image for each selector.
// ============================================================================

$characters: (
  'darth': (
    'bgImage': 'images/darth-vader.svg',
    'color': #fff,
    'bgColor': #444
  ),
  'obiwan': (
    'bgImage': 'images/obiwan-kenobi.svg',
    'color': #8C5A3C,
    'bgColor': #fff
  )
);

@each $character, $properties in $characters {

  .character-#{$character} {
    background: url('#{map-get($properties, 'bgImage')}') map-get($properties, 'bgColor');
    color: map-get($properties, 'color');
  }

}

// ============================================================================
// You don't have to change the following lines to complete the challenge.
// ============================================================================

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  > * {
    flex: 0 1 50%;
    min-width: 20rem;
    min-height: 15rem;
    padding: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    background-repeat: no-repeat;
    background-position: center bottom 1rem;
  }
}
