//
// Challenge description:
//
// Simplify the following selectors and have a look at the index.html in this
// folder whether you get the same result. The (compiled) selectors in the
// CSS should be exactly (!) the same.
// ============================================================================

main div.mod h3 {
  color: hotpink;
}

main div.mod p {
  color: darkorange;
}

main div.mod .module-1 {
  color: cornflowerblue;
}

main div.mod .module-2 {
  color: greenyellow;
}

// ============================================================================
// You don't have to change the following lines to complete the challenge.
// ============================================================================

main * {
  display: block;
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: normal;
}
