//
// Challenge description:
//
// Activate the mixin include (remove comments).
// Create the `my-media` mixin to set the font size and color if the
// viewport is 800px or wider. Log a debug message to the console when the
// mixin is called.
// Don't change the mixin include.
// ============================================================================

.my-paragraph {
  font-size: 14px;
  color: darkorange;

  /*

  @include my-media {
    font-size: 18px;
    color: white;
  }

  */
}
