//
// Challenge description:
//
// Write a mixin that sets a rem font size with a pixel fallback:
//
//  .my-paragraph {
//    font-size: 32px;
//    font-size: 2rem;
//  }
//
// The mixin should get a parameter with the pixel font size. If the parameter
// value is larger than 30px, change the font color to lightgray.
// Use a function to calculate the corresponding rem value. Consider a root
// font size of 16px for the calculation.
// ============================================================================

@function calc-rem($pixel-size) {
  @return $pixel-size / 16px * 1rem;
}

@mixin font-size($pixel-size) {
  font-size: $pixel-size;
  font-size: calc-rem($pixel-size);

  @if $pixel-size > 30px {
    color: gray;
  }
}

.my-paragraph {
  // include your mixin

  @include font-size(31px);
}
